{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <script charset="UTF-8" src="{% static 'js/4.bundle.js' %}"></script>
    <script charset="UTF-8" src="{% static 'js/7.bundle.js' %}"></script>
    <script charset="UTF-8" src="{% static 'js/0.bundle.js' %}"></script>
    <script charset="UTF-8" src="{% static 'js/6.bundle.js' %}"></script>
    <script charset="UTF-8" src="{% static 'js/5.bundle.js' %}"></script>
    <script charset="UTF-8" src="{% static 'js/9.bundle.js' %}"></script>
    <script charset="UTF-8" src="{% static 'js/8.bundle.js' %}"></script>
</head>
<header class=" mb-5 pb-3">
    <div class="has_menu_close" id="has_menu_close"></div>
    <div class="header-fixed   ">
        <nav style="background-color: #696969 !important; height: 100px;" class="navbar navbar-expand-lg header-nav ">
            <div class="navbar-header"><a id="mobile_btn" href=""><span
                    class="bar-icon  text-primary"><span></span><span></span><span></span></span></a><a
                    class="navbar-brand logo" href="/home"><img src="{% static 'img/logo/itcity%20(2).png' %}"
                                                                class="img-fluid ms-4 logotipSize" alt="Logo"></a></div>
            <div class="main-menu-wrapper">
                <div class="menu-header"><a class="menu-logo" href="/home"><img
                        src="{% static 'img/logo/itcity%20(2).png' %}" class="img-fluid" alt="Logo"></a><a id="menu_close"
                                                                                                        class="menu-close"
                                                                                                        href="#"><i
                        class="fas fa-times"></i></a></div>
                <ul class="main-nav">
                    <li class=""><a id="menu_close" class=" text-white       " href="{% url 'index' %}">Asosiy</a></li>
                    <li class="pathname.includes(&quot;/about&quot;) ? &quot;active&quot; : &quot;&quot;   "><a
                            id="menu_close" class="  text-white" href="biz%20haqimiz.html">Biz haqimizda</a></li>
                    <li class="active"><a id="menu_close" class=" text-white  " href="index.html">Fikrlar</a></li>
                    <li class="active"><a id="menu_close" class="default   text-white  "
                                          href="blog.html">Blog</a></li>
                    <li class="login-link"><a href="/login">Kirish </a></li>
                    <li class="login-link"><a href="user/register.html">Ro'yxatdan o'tish</a></li>
                </ul>
            </div>
            <ul class="nav header-navbar-rht">
                <li class="nav-item"><a class="nav-link text    text-white " href="user/login.html">Kirish</a></li>
                <li class="nav-item"><a class="nav-link header-login "
                                        href="user/register.html"><span>Ro'yxatdan o'tish</span></a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/app/index">My Teacher</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Teacher haqida</li>
                    </ol>
                </nav>
                <br>
                <h2 class="breadcrumb-title">My Teacher haqida</h2></div>
        </div>
    </div>
</div>
<div style="min-height: 400px;" class="container  py-5">
    <div class="border-bottom px-4">
        <div class="accordion_menu ">
            <div class="accordion_btn"><span>Biz haqimizda</span><i class="fas fa-plus"></i></div>
            <div class="accordion_body "><p class="mb-3">Assalomu alaykum. Mening ismim Sardor, MyTeacher online
                platformasi startapining asoschisi bo’laman.</p>
                <p class="mb-3">Bu loyiha, qo’shimcha til o’rganish yoki bilim olish uchun, kuchli, bilimli va
                    SARALANGAN o’qituvchilarni oson topish hamda ulardan onlayn dars o’rganishga, shuningdek, xuddi shu
                    platformada, o’z bilimi evaziga qo’shimcha daromad olishga sharoit yaratib beradi. Ya’ni ONLINE
                    marketplace, yoki TA’LIM BOZORI deyishimiz mumkin.</p>
                <p class="mb-3">Saytda o’qituvchilar, tajribasi, narxi, sertifikatlari, o’quvchilar tomonidan
                    bildirilgan fikrlar hamda xuddi Yandex taxida gi kabi yulduzchali reyting tizimi bo’yicha
                    saralanadi.</p>
                <p class="mb-3">Darslar online o’tilganligi sababli, biz Vaqt, qo’shimcha daromad topish, aynan sinalgan
                    ustozlarni topish, jismoniy imkoniyati cheklangan kishilarga masofadan o’qib mutaxassis bo’lish va
                    daromad olish kabi muammolarga yechim bo’la olamiz.</p>
                <p class="mb-3">Xo’sh bu qanday ishlaydi? Darslar zoom yoki boshqa videoaloqa dasturi orqali individual
                    o’tiladi, har bir dars o’quvchi tomonidan ham o’qituvchi tomonidan ham yulduzchali reyting bo’yicha
                    baholab boriladi. Har bir dars online jurnalga tushirib boriladi. O’quvchi o’zining baholariga qarab
                    qay darajada o’zlashtirayotganini kuzatib bora oladi.</p>
                <p class="mb-3">Skreenshotda o’qituvchilar doskasini ko’rishingiz mumkin.</p>
                <p class="mb-3">Bizning maqsadli auditoriyamiz. Tig’iz ish grafigiga ega bo’lib kurslarga qatnashga
                    imkoniyati yoq kishilar, Jismoniy imkoniyati cheklanganlar, Homilador ayollar va uy bekalari,
                    Abituriyentlar hamda talabalar va hozirda asosiy contingent bolib turgan Chet elda o’qib, ishlab
                    yurgan vatandoshlarimiz.</p>
                <p class="mb-3">Raqobatchilarimiz esa, OLX hamda Preply.com saytlari bo’lishi mumkin. Olxdan
                    ustunligimiz, aynan bitta nishaga qaratilganimiz, va yuqorida sanab o’tilgan ta’lim jarayoni uchun
                    kerak bo’lgan qulayliklarning bu platformada yo’qligi bo’lsa, Preply esa o’zbekcha content hamda
                    o’zbekcha to’lov tizimiga ega emasligi hamda, va uni O’zbekiston bozoriga hali kirib kelmaganligi
                    bizning ustunligimiz hisoblanadi.</p>
                <p class="mb-3">Biz online ta’lim bo’yicha xizmat ko’rsatishni O’zbekistonda 2018 yilda eng birinchi
                    bo’lib boshlaganmiz va shu yo’nalishda eng ko’p tajribaga egamiz deya olaman. Startapimizga
                    boshlanganidan beri uchta asosiy VIRAJ ya’ni bozor talabidan kelib chiqib tubdan o’zgartirish
                    kiritildi, bular: Onlayn maktab shaklidan marketplace shakliga o’tkazildi, Faqat chet tillari emas
                    barcha fanlardan ustozlar olinadigan bo’ladi, va hattoki Eski WEBCLASS nomini ham boshqasiga, ya’ni
                    MyTeacherga o’zgartirildi.</p>
                <p class="mb-3">Biznes modelimiz- ustozlardan har bir o’tilgan dars uchun komissiya olish hisoblanadi.
                    Bunda ustoz bir oyda qancha ko’p soat dars o’tsa narxning shuncha katta ulushiga ega bo’ladi.</p>
                <p class="mb-3"> Onlayn klublarga a’zo bo’lasiz;</p>
                <p class="mb-3">Bu ularni platformadan chiqib ketmaslikka va biz bilan ko’proq ishlashga undaydi.</p>
                <p class="mb-3">Bizning marketing kanallarimiz, asosan internet orqali targeting qilish hisoblanadi.
                    Mablag’ jalb qila olsak, platformani mukammallashtirib bo’lgach Televideniye reklamasidan ham aktiv
                    foydalanish maqsadidamiz. Bular uchun foydamizning 20% gacha ulushini tikishga tayyormiz.</p>
                <p class="mb-3">Kelajak maqsadlarimiz esa shu yilning o’zida platformamizni va mobil ilovani 90 foizga
                    ishlatish, 22 yilda bitta qo’shni mamlakat bozorida o’zimizni sinab ko’rish va 23 yilga kelib
                    markaziy osiyoda online ta’lim bo’yicha eng zo’r platformaga aylanish.</p>
                <p class="mb-3">Asosiy operatsion jamoamiz, 8 kishidan iborat bo’lib hammamiz loyihamiz bo’yicha
                    tegishli yo’nalishlarda bir yildan 9 yilgacha tajribaga egamiz.</p>
                <p class="mb-3">E’TIBORINGIZ UCHUN RAHMAT!</p></div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-about">
                        <div class="footer-logo"><img src="{% static 'img/logo/itcity%20(2).png' %}" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <div class="social-icon">
                                <ul>
                                    <li><a href="https://t.me/MyTeacheruzb" target="_blank"><i
                                            class="fab fa-telegram-plane"></i></a></li>
                                    <li><a href="https://www.instagram.com/myteacher.uz/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.facebook.com/uzmyteacher/" target="_blank"><i
                                            aria-hidden="true" class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-menu"><h2 class="footer-title">Menyu</h2>
                        <ul>
                            <li><a href="/home">Asosiy</a></li>
                            <li><a href="/about/">Biz haqimizda</a></li>
                            <li><a href="/blog/blog-grid/">Blog</a></li>
                            <li><a href="/home">Fikrlar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-menu"><h2 class="footer-title">Eng so'nggi yangiliklar</h2>
                        <ul>
                            <li><a href="/">Bizga investitsiya kiriting…...</a></li>
                            <li>
                                <a href="https://daryo.uz/2021/02/12/audio-kursmi-yoki-onlayn-dars-qay-biri-samaraliroq/">Daryo.uz
                                    maqolasi: Audio kursm...</a></li>
                            <li><a href="https://xabar.uz/tahlil/ikki-yosh-filolog-yaxshi-daromad">Xabar.uz
                                maqolasi: Ikki yosh f...</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-contact"><h2 class="footer-title">Aloqa</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address"><span><i class="fas fa-map-marker-alt"></i></span>
                                <p>Toshkent shahri, Yunusobod tumani, <br>9-mavze 8-uy 27-xonadon</p></div>
                            <p><a href="tel:+998973003011" class="text-black"><i class="fas fa-phone-alt"></i>+998973003011</a>
                            </p>
                            <p class="mb-0"><a href="mailto:info@myteacher.uz" class="text-black"><i
                                    class="fas fa-envelope"></i>info@myteacher.uz</a></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="copyright">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="copyright-text"><p class="mb-0">© 2022 MyTeacher</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/main.bundle.js' %}"></script>
<defs id="SvgjsDefs1002"></defs>
<polyline id="SvgjsPolyline1003" points="0,0"></polyline>
<path id="SvgjsPath1004" d="M0 0 "></path>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


</html>
